@use "./components/layouts/Navbar.scss";
@use "./components/layouts/Footer.scss";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--cream);
  color: var(--text);
  font-family: "DM Sans", "Jost", sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

@import './cart-sidebar.css';
